.Home{
    padding-top: 70.25%;
    width: 100%;
    height: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../imgs/home_background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.Container{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.HomeTitle{
    padding-top: 17%;
    color: $almostWhite;
    font-size: 80px;
    @include breakpoint(large) { font-size: 65px; }
    @include breakpoint(medium) { font-size: 50px; }
    @include breakpoint(small) { font-size: 35px; }
}

.HomeText{
    color: $lightGrey;
    font-size: 40px;
    @include breakpoint(large) { font-size: 30px; }
    @include breakpoint(medium) { font-size: 20px; }
    @include breakpoint(small) { font-size: 15px; }
}

.HomeFooter{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 10%;
    opacity: 0.75;
}

.HomeBody{
    overflow: hidden;
}

